DATA_PATH = '/home/pablo/GDrive/BigSocialData/twitter/reporte_08_02'

AUTH_DATA = [
    # Mine
    dict(consumer_key = 'xxxxxxxxxxxxxxxxxxxx',
    consumer_secret = 'yyyyyyyyyyyyyyyyyy',
    access_token = 'zzzzzzzzzzzzzzzzzz',
    access_token_secret = 'wwwwwwwwwwwwwwwwwwww'),
]
